/* blog/blog.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1.15em; /* zwiększony rozmiar tekstu */
}

header {
    background-color: #20232a;
    color: white;
    padding: 1em 2em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    margin-top: 1em;
}

nav a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

a.active {
    color: #fcff5d;;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}

main {
    max-width: 1000px;
    margin: 2em auto;
    padding: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    font-size: 1.15em; /* większy tekst w main */
}

h2 {
    margin-top: 0;
    color: #20232a;
}

.blog-list {
    list-style: none;
    padding: 0;
}

.blog-list li {
    margin-bottom: 1.2em;
    padding: 0.8em;
    border-bottom: 1px solid #ddd;
}

.blog-list a {
    font-size: 1.1em;
    color: #20232a;
    font-weight: bold;
    text-decoration: none;
}

.blog-list a:hover {
    text-decoration: underline;
}

.date {
    display: block;
    color: #777;
    font-size: 0.9em;
    margin-top: 0.3em;
}

footer {
    text-align: center;
    padding: 1em;
    background: #20232a;
    color: white;
    margin-top: 2em;
}

article h1 {
    text-align: center;
    font-size: 2.2em;
}

article img {
    width: 100%;
    max-width: 800px; /* większe zdjęcia */
    border-radius: 12px;
    margin-bottom: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
